* {
  margin: 0;
  padding: 0;
}

/* common button */
.blue-btn {
  background-color: #1d4ed8;
  color: #ffffff;
  padding: 14px 50px;
  text-align: center;
  border-radius: 8px;
  border: none;
}

.common-font {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* common element close  */

/* navbar css */
.nav-menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
  padding: 0 20px;
}
.logo-min-image {
  max-width: 100%;
  height: auto;
}
.nav-logo {
  display: flex;
}

.nav-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: #575757;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: normal;
}
.nav-register-btn {
  font-size: 16px;
  margin-bottom: 4px;
  cursor: pointer;
}
/* navbar css end  */

/* hero css design */
.hero {
  background-image: url(../assets/banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  margin-bottom: 24px;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.8);
}
.hero-container {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.hero-container-text {
  max-width: 850px;
  text-align: center;
}

.hero h1 {
  color: #ffffffff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 14px;
}

.hero p {
  color: #ffffffff;
  max-width: 808px;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.hero-btn-container {
  margin-top: 40px;
  padding-bottom: 40px;
}
.hero-btn {
  padding: 20px 60px;
  font-size: 18px;
  cursor: pointer;
}
/* hero css end */

/* meet-the-speakers css start */
.meet-the-speakers {
  margin-top: 80px;
  margin-bottom: 80px;
}
.meet-the-speakers-container {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.meet-the-speakers-title {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 56px;
}

.meet-the-speakers-cards {
  width: 100%;
  background-color: rgba(204, 204, 204);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 20px;
  gap: 32px;
}

.meet-the-speakers-card-info {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 10px;
}
.meet-the-speakers-card-info img {
  width: 100%;
  height: auto;
}

.meet-the-speaker-info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.meet-the-speaker-department {
  font-size: 1rem;
  color: #2563eb;
}
.meet-the-speaker-department {
  color: #2563eb;
  font-size: 1rem;
}
.meet-the-speaker-name {
  color: #0d1b2a;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
}
.meet-the-speaker-position {
  color: #575757;
  font-size: 1rem;
  margin: 0;
}
/* meet the speacker position css end */

/* price cart css start */

.price-cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-cart-title {
  display: flex;
  flex-direction: column;
}
.price-cart-title h1 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #0d1b2a;
}
.price-cart-title span {
  font-family: "Inter", sans-serif;
  color: #575757;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 48px;
}

.price-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.price-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-width: thin;
  border-radius: 10px;
}
.price-card-info {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: start;
  gap: 15px;
}
.price-feature-list {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #333333;
}
.price-feature-list li::marker {
  color: #2563eb;
}
.price-card-info p {
  font-size: 13px;
  font-family: "Inter";
  color: #888888;
}
.price-card-info h3 {
  font-size: 44px;
  font-family: "Inter";
  color: #070707;
}
.price-btn {
  padding: 11px 0;
  font-family: "Inter";
  color: #2563eb;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #2563eb;
  border-radius: 5px;
  background-color: #ffffff;
}

.active-cart {
  background-color: #0d1b2a;
  color: white;
}
.get-pro-btn {
  background-color: #2563eb;
  color: white;
  font-weight: 400;
}

.active-feature-list {
  color: rgb(255, 255, 255, 0.8);
}
.active-cart-price p:first-child {
  color: #93c5fd;
}
.active-cart-price h3 {
  color: #ffffff;
}
.price-contact-btn {
  background-color: #e5e7eb;
  border: 1px solid #070707;
  color: #070707;
}
.team-card {
  background-color: #e5e7eb;
}

/* price cart css end */